.navbar-logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 15px;
  color: #0f1419;
}

.navbar-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0px 24px;
  border-bottom: 1px solid #ececec;
  align-items: center;
  justify-content: space-between;
}

.navbar-container-left {
  display: flex;
  align-items: center;
}

.navbar-container-left-links {
  display: flex;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  padding-inline-start: 40px;
  gap: 20px;
}

.navbar-left-links {
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container-center {
  flex: 1;
  padding: 0px 32px;
  margin: 0 auto;
  width: 100%;
  max-width: 750px;
  position: relative;
}


.navbar-container-searchmain {
  display: flex;
  width: 100%;
  background-color: #ffff;
  border-radius: 20px;
  top: 0;
  border: none;
}

.navbar-container-search-demo {
  display: flex;
  height: 32px;
  width: 100%;
  background-color: #f9f9f9;
  border: 1px solid #e8e8e8;
  border-radius: 50px;
  cursor: text;
}

.navbar-container-search-demo-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  color: #959595;
  font-size: 18px;
}

.navbar-container-search-demo-text {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 15px;
  color: #959595;
}

.navbar-container-right {
  display: flex;
  justify-self: flex-end;
  align-items: center;
  gap: 20px;
}

.navbar-container-right-sharepost {
  display: flex;
  gap: 10px;
  align-items: center;
  border: 1px solid #e8e8e8;
  height: 36px;
  border-radius: 50px;
  padding: 0 20px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-container-right-shareposttext {
  font-size: 14px;
}

.navbar-container-right-notification {
  font-size: 18px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navbar-container-right-sharepost {
  display: flex;
}

.navbar-container-right-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-container-right-profileimg img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  object-position: center;
  border-radius: 9999px;
}

.navbar-container-right-profileinfo {
  display: flex;
  flex-direction: column;
  gap: -2px;
}

.navbar-container-right-profilename {
  font-size: 14px;
  font-weight: 600;
}

.navbar-container-right-profileusername {
  font-size: 14px;
  font-weight: 600;
  color: #959595;
  margin-top: -5px;
}

.navbar-container-search-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.navbar-container-search-body {
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
  left: 0;
  background-color: #fff;
  border-radius: 50px;
}

.navbar-container-search-top {
  display: flex;
  padding: 10px;
  margin: auto;
  width: 100%;
}

.navbar-container-search-input {
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  outline: none;
  border: none;
  border-radius: 0px 50px 50px 0px;
}

.navbar-container-search-input::placeholder {
  color: #959595;
  font-weight: 400;
  font-size: 15px;
}




.navbar-container-suggested {
  padding-bottom: 20px;
}

.navbar-container-suggestedsearchlabel {
  color: #696969;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  margin: 0px 0px 8px;
  padding:0px 36px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

.navbar-container-searchlistitems {
 display: flex;
 flex-direction: column;
}

.navbar-container-searchlistitem {
  color: #191919;
  font-size: 20px;
  font-weight: 700;
  padding: 5px 36px;
  text-align: left;
  cursor: pointer;
}

.navbar-container-searchlistitem:hover {
  background-color: #f9f9f9;
}

.navbar-container-sortingfiltering {
  border-color: #e8e8e8;
  border-style: solid none none;
  border-width: 1px 0px 0px;
}