.sidebar_container {
  width: 297px;
  border-right: 1px solid #e3e7f7;
}

@media screen and (max-width: 1272px) {
  .sidebar_container {
    width: 88px;
  }
}

@media screen and (max-width: 500px) {
  .sidebar_container {
    border-top: 1px solid #e3e7f7;
    border-right: none;
    height: 52px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
}
